<footer class="footer mat-bg-accent mat-text-primary pt-2">
  <div class="text-center">
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <h6>Visit Our Showroom:</h6>
        <p>Iulius Town,Strada Aristide Demetriade 1, Timișoara 300088</p>
      </div>
      <div class="col-lg-4 col-md-12">
        <h6>Contact Us</h6>
        <p>Phone: +40757842636 / Email: furniture-studio@gmail.com</p>
      </div>
      <div class="col-lg-4 col-md-12">
        <h6>Business Hours:</h6>
        <p>Mon-Fri: 09 - 22 / Sat: 09 - 20 / Sun: 09 - 18</p>
      </div>
    </div>
  </div>
</footer>
