<mat-toolbar color="primary" style="padding:0 !important">
  <mat-sidenav-container hasBackdrop style="z-index: 1000">
    <mat-sidenav #sidenav mode="over" fixedInViewport class="mat-bg-primary">
      <div class="d-flex flex-column h-100 justify-content-between">
        <div class="d-flex flex-column gx-3 gy-3 align-items-center">
          <div *ngFor="let category of (productCategories$ | async)">
            <button
              routerLink="{{routes.PRODUCTS_PAGE+'/1/'+category.id}}"
              (click)="$event.stopPropagation(); sidenav.toggle()" mat-raised-button
              class="shadow-none text-light mt-4 mb-2 w-100"
              color="primary">
              <h4 class="mt-2">{{category.name}}</h4>
            </button>
          </div>
          <div *ngIf="(user$ | async);else elseBlock" class="d-flex flex-column">
            <button
              routerLink="{{routes.MY_ACCOUNT}}"
              (click)="$event.stopPropagation(); sidenav.toggle()" mat-raised-button
              class="shadow-none text-light mt-4 mb-2 w-100" color="primary">
              <h4 class="mt-2">My Account</h4>
            </button>
            <button
              (click)="$event.stopPropagation();handleLogout(); sidenav.toggle()" mat-raised-button
              class="shadow-none text-light mt-4 mb-2 w-100" color="primary">
              <h4 class="mt-2">Logout</h4>
            </button>
          </div>
          <ng-template #elseBlock>
            <button
              routerLink="{{routes.LOGIN}}"
              (click)="$event.stopPropagation(); sidenav.toggle()" mat-raised-button
              class="shadow-none text-light mt-4 mb-2 w-100" color="primary">
              <h4 class="mt-2">Authentication</h4>
            </button>
          </ng-template>
        </div>
      </div>
      <div></div>
    </mat-sidenav>
  </mat-sidenav-container>
  <div class="container-fluid d-flex justify-content-center position-relative">
    <div class="start-0 position-absolute mx-3">
      <button mat-mini-fab color="primary" class="me-3">
        <div class="cart" routerLink="{{routes.CART_PAGE}}">
          <span class="count">{{cartQuantity$ | async}}</span>
          <mat-icon>shopping_cart</mat-icon>
        </div>
      </button>
    </div>
    <a class="mx-3" style="cursor:pointer"><img [width]="50" [height]="50"
                                                src="/assets/images/logo.png"
                                                routerLink="/{{routes.LANDING_PAGE}}" alt="logo">
    </a>
    <button color="primary" class="mx-3 shadow-none position-absolute end-0" (click)="sidenav.toggle()" mat-mini-fab>
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
  </div>
</mat-toolbar>
